<!DOCTYPE html>
<html lang="en">

<head>
    {%block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/style.css">
    {% if title %}
    <title>{{title}} - Movies</title>
    {% else %}
    <title>Movies</title>
    {% endif %}
    {% endblock %}
</head>

<body>
    {% block menu %}
    <header class="header">
        <div class="header__content">
            <div class="container">
                <div class="header__content-inner">
                    <div class="header__logo">
                        <a href="#">
                            <img src="../static/img/logo.png" alt="">
                        </a>
                    </div>
                    <nav class="header-menu">
                        <ul>
                            <li>
                                <form method="GET"> 
                                    <input type="text" name="q" placeholder="Search here..." class="search" value = "{{ request.args.get('q', '') }}">
                                    <input type="image" src="../static/img/search.png" alt="ОК" class="btn">
                                </form>
                            </li>
                            <li><a href="#"> Premieres </a></li>
                            <li><a href='{{url_for("movies.index")}}'> Movies </a></li>
                            <li><a href="#"> Categories </a>
                                <ul>
                                    <li><a href="#">Drama</a></li>
                                    <li><a href="#">Historical</a></li>
                                    <li><a href="#">Fantasy</a></li>
                                    <li><a href="#">Horror</a></li>
                                </ul>
                            </li>
                            <li><a href="#"> Genres </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    

    {% block slider %}
    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block scripts%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/jquery.fancybox.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/main.js"></script>
    {% endblock %}

    
</body>

</html>
